{% extends "layout.html" %}

{% block body %}
<h2>Hello</h2>
{% endblock %}

{% block code %}
<script type="text/javascript" charset="utf-8">
    
    const KEY_LEFT_ARROW = 37;
    const KEY_UP_ARROW = 38;
    const KEY_RIGHT_ARROW = 39;
    const KEY_DOWN_ARROW = 40;

    const KEY_CODE_NAMES = {};

    KEY_CODE_NAMES[KEY_LEFT_ARROW]  = "left";
    KEY_CODE_NAMES[KEY_UP_ARROW]    = "up";
    KEY_CODE_NAMES[KEY_RIGHT_ARROW] = "right";
    KEY_CODE_NAMES[KEY_DOWN_ARROW]  = "down";

    var globalKeyPressHandler = function(e) {
        var keyCode = e.keyCode;
        if (keyCode == KEY_LEFT_ARROW || keyCode == KEY_UP_ARROW ||
                keyCode == KEY_RIGHT_ARROW || keyCode == KEY_DOWN_ARROW) {
            var keyName = KEY_CODE_NAMES[keyCode];
            console.log(keyName + " pressed.");

            $.ajax("/steer/" + keyName)
             .done(function() {
                 console.log("Sent " + keyName);
             })
             .error(function(e) {
                 console.log("Error: " + e);
             });
        }
    };

    $(document).ready(function() {
        console.log("Document ready, setting key event listeners.");
        document.addEventListener("keydown", globalKeyPressHandler, false);
    });

</script>
{% endblock %}
